@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 0.5rem;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #374151;
}

html,
:host {
  font-family: YakuHanJPs, Roboto, "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", Arial, nc3Jp, sans-serif !important;
}

/* h-16 */
main {
  height: calc(100vh - 4rem);
}

.sketch-picker {
  padding: 10px !important;
  > div:nth-child(4) {
    display: none !important;
  }
  input {
    border-radius: 0.5rem;
    box-shadow: none !important;
    width: 100% !important;
  }
  input {
    background-color: rgb(249 250 251);
    border: 1px solid rgb(209 213 219) !important;
    color: rgb(17 24 39) !important;
  }
}

.dark .sketch-picker {
  input {
    background-color: rgb(55 65 81);
    border: 1px solid rgb(75 85 99) !important;
    color: rgb(255 255 255) !important;
  }
  label {
    color: rgb(255 255 255) !important;
  }
}
